@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background: var(--primary-bg);
  --primary-bg: #f4edfc;
  --secondary-bg: #DBE2EF;
  --primary-dark: #3F72AF;
  --secondary-dark: #112D4E;
  color: #000;
}

::-moz-selection {
	/* Code for Firefox */
	color: rgb(255, 255, 255);
	background: rgb(0, 0, 0);
  
}

::selection {
	color: rgb(255, 255, 255);
	background: rgb(0, 0, 0);
}


/* pre {
  background-color: #272822;
  border: 1px solid #3e3d32;
  color: #f8f8f2;
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  line-height: 1.4;
  overflow-x: auto;
  padding: 20px;
  white-space: pre-wrap;
  height: 300px;
}*/
code {
  display: block;
  color: #f8f8f2;
} 
.code {
  /* width: 95%; */
  /* height: 261px; */
  /* left: 39px; */
  /* top: 78px; */
  /* padding: 5%; */
  /* color: rgb(0, 0, 0); */
  /* background: var(--primary-dark); */
  color: #f8f8f2;
  border: 1px solid #3e3d32;
  line-height: 1.4;
  font-family: 'Fira Code', monospace;
  background-color: #272822;
  overflow: auto;
  height: 300px;
  padding: 3%;
  /* color: white; */
}
.cursor-dot-outline {
	pointer-events: none;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	opacity: 0;
	transform: translate(-50%, -50%);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
	z-index: 99999;
	width: 50px;
	height: 50px;
	background: transparent;
	backdrop-filter: invert(1);
  overflow: hidden;
}

@media screen and (max-width: 600px) {
	.cursor-dot-outline {
		display: none;
	}
}
.header1 {
  position: fixed;
  z-index: 999;
  background: #ffffff7e;
  border: 1px solid #3e3d32;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  color: #000000;
  height: 80px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  left: 5%;
  border-radius: 25px;
}
.header1 h1{
  
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

/* width */ 
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  background:rgb(155, 155, 155);
  
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0px;
}
::-webkit-scrollbar-corner {
  background: rgba(146, 146, 146, 0.568);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3e3d32;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #553e58;
}
h2{
  height: 41px;
  left: 29px;
  top: 37px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.container{
  margin-top: 30px;
  width: 90%;
}
@media (min-width: 1200px) {
.container {
    max-width: 90%;
}
}
.dataset {
  /* background-color: aqua; */
  overflow: scroll;
  min-height: 300px;
  max-height: 300px;
}

.stats {
  padding: 3%;
  color: #f8f8f2;
  border: 1px solid #3e3d32;
  line-height: 1.4;
  font-family: 'Fira Code', monospace;
  background-color: #272822;
  overflow: auto;
  height: 300px;
}

.stats h6, p {
  margin-top: 8px;
  color: white;
}

.container1 {
  position: absolute;
  margin: 5%;
  max-width: 90%;
  width: 90%;
  border-radius: 25px;
  padding: 20px;
  background: #144272;
}

.row{
  padding: 1% 3% 3% 3%;
  border-radius: 25px;
  background: rgb(255, 255, 255);
  border: 1px solid #3e3d32;
  margin-top: 120px;
}
.row h2 {
  color: #000;
}


.dataset td,
.dataset th {
  border: 1px solid #000000;
  text-align: center;
}

.dataset tr:nth-child(odd) {
  background-color: var(--primary-bg);
}
.dataset tr:nth-child(even) {
  background-color: #ffffff;
}

.dataset tr:hover {
  background-color:#272822;
  color: white;
}

.dataset th {
  padding: 5px;
  text-align: center;
  background-color: #272822;
  color: white;
}
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .col1 { grid-area: 1 / 1 / 2 / 2;
  
  
  }
  .col2 { grid-area: 1 / 2 / 2 / 3;

  }


#op-selection {
  display: flex;
  justify-content: center;
}


#op-selection .row{
    background: black;
    border-radius: 25px;
    background: #ffffff;
    margin-top: 1.5%;
    padding: 3%;
    height: 90%;
    width: 90%;
}


.dropdown-list{
  list-style: none;
  padding: 0;
}


#footer{
    text-align: center;
    padding: 4%;
}

.ft-socials{
  margin: 0 30px 40px;
}




  
/* #Navigation
================================================== */

.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}


.navbar-brand img{
	height: 28px;
	width: auto;
	display: block;
  filter: brightness(10%);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-item:hover .nav-link:hover{
  background: #ffffff;
  color: #000;
  border: 1px solid;
}
.nav-item.active .nav-link{
  background: #000000;

}

.nav-link:focus, .nav-link:hover {
  color: white;
}
.nav-link {
	position: relative;
	padding: 10px 20px;
  justify-content: center;
	display: flex;
  text-align: center;
	color: rgb(255, 255, 255);
  /* transition: all 200ms linear; */
	border-radius: 0px !important;
}

.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #000000;
	opacity: 0;
  transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
  transition: all 200ms linear;
}

.nav-item .dropdown-menu {
  transform: translate3d(0, 0, 300px);
  visibility: hidden;
  opacity: 0;
	max-height: 0;
  display: block;
	padding: 0;
	margin: 0;
  transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
  opacity: 1;
  visibility: visible;
	max-height: 999px;
  transform: translate3d(300px, 0, 0);
  
}
.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
  /* min-height: auto; */
  max-height: 150px;
  width: 100%;
  overflow: auto;
	background-color: #ffffff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  transition: all 200ms linear;
}
.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 3px 15px;
	color: #27292a;
	border-radius: 2px;
  transition: all 200ms linear;
}
.dropdown-item:hover, 
.dropdown-item:focus {
	color: #fff;
	background-color: #000000;
}




.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
  color: #ffffff;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: #ffffff;
}



/* logistic form */
#algo-form {
  padding: 2% 5%;
}
#algo-form h2{
  margin-bottom: 50px;
}
#algo-form .nav-link{
  color: rgb(255, 255, 255);
  font-weight: 400;
  display: inline;
  width: 300px;

} 

#algo-form .form-label{
  display: flex;
  margin-right: 50px;
  font-weight: 800;
}

#algo-form .nav-item:hover .nav-link:hover{
  background: rgb(255, 255, 255);
  color: #000000;
}

#algo-form .nav-item.active .nav-link {
  width: auto;
}

#algo-form  .nav-item{
  padding-left: 1%;
  padding-top: 1%;
  
}

.container-form {
  margin:0 !important;
}

#algo-form .row{
    background: black;
    border-radius: 25px;
    background: #ffffff;
    margin-top: 1.5%;
    padding: 3%;
    height: 90%;
}

/* .row-form{
  display: inline-flex;
  width: 100%;
} */


/* .container-form-form{
  padding: 5%;
} */



















/*logistic multi select*/
.select2-container {
  min-width: 300px;
}

.select2-results__option {
  padding-right: 20px;
  vertical-align: middle;
}
.select2-results__option:before {
  content: "";
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  border: 2px solid var(--secondary-bg);
  border-radius: 4px;
  background-color: #fff;
  margin-right: 20px;
  vertical-align: middle;
}
.select2-results__option[aria-selected=true]:before {
  font-family:fontAwesome;
  content: "\f00c";
  color:  #68a7df;
  background-color: var(--primary-dark);
  border: 0;
  display: inline-block;
  padding-left: 3px;
}
.select2-container--default .select2-results__option[aria-selected=true] {
	background-color: #fff;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: var(--secondary-bg);
	color: #ffffff;
}

.select2-container--default .select2-selection--multiple {
	margin-bottom: 10px;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
	border-radius: 4px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
	border-color: var(--primary-dark);
	border-width: 2px;
}
.select2-container--default .select2-selection--multiple {
	border-width: 2px;
}
.select2-container--open .select2-dropdown--below {
	
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.select2-selection .select2-selection--multiple:after {
	content: 'hhghgh';
}
/* select with icons badges single*/
 .select-icon .select2-selection__placeholder .badge { 
	display: none;
}
.select-icon .placeholder {
	 display: none; 
 } 
 .select-icon .select2-results__option:before,
.select-icon .select2-results__option[aria-selected=true]:before {
	display: none !important; 
	 content: "" !important; 
 }
.select-icon  .select2-search--dropdown {
	display: none;
}


.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: var(--primary-dark) !important;
  border: 1px solid var(--secondary-bg) !important;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
  color: white;
}
.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 10px !important;
  cursor: text;
}