{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>VisualDatos</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css">

	  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />

  </head>
  <body>
    <!--  Cursor -->
  <!-- <div class="cursor-dot-outline">
  </div>
  <div class="cursor-dot">
  </div> -->
  <!-- Cursor ends -->
  {% block navbar %}

  <header>
    <div class="header1 py-1" id="header">
      {% block navbarContent %}
      <h1>VisualDatos</h1>
        {% endblock %}
    </div>
  </header>

{% endblock %}
    {% block content %}
    {% block main-content %}
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12">
          <div class="codegrid">
            <h2>Code</h2>
            <div class="code">
              <code>
                
                {% for col in backgroundCode %}
                  <span>{{col | safe}} </span> <br>
                {% endfor %}
              </code>
            </div>
          </div>
        </div>

        <div class="col-lg-5 col-md-12 col-sm-12">
          <h2>Dataset</h2>
          <div class="dataset_frame">
          <div class="dataset">{{loaded_data | safe}}</div>
        </div>
        <a class="legend" style="text-align: right;">
           <button onclick="window.location.href='{% url 'showFulldataset'%}';">Show Full Dataset</button> 
           <button onclick="window.location.href='{% url 'downloadDataset'%}';;">Download Dataset</button> 
          </a>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">

          <div class="statsgrid">
            <h2>Statistics</h2>
              <div class="stats">
                <code>
                  <span>Shape : {{shape_of_data | safe}}</span>
                
                <br>
                <span>Null Values : {{null_count | safe}}</span>
                
                </code>
              </div>
        </div>

        </div>
      </div>
    </div>
    {% endblock main-content %}
    {% block operation %} {% endblock operation %}
    {% block footer %} 
    <footer id="footer">
      <i class="fab fa-twitter ft-socials fa-2x"></i>
      <i class="fab fa-facebook ft-socials fa-2x"></i>
      <i class="fab fa-instagram ft-socials fa-2x"></i>
      <i class="fas fa-envelope ft-socials fa-2x"></i>
      <p class="copyright">© Copyright 2023 VisualDatos</p>
    </footer>
  
    
    {% endblock %} 
     {% endblock content%}
    <script src="{% static 'js/base.js' %}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/1a978d0fce.js" crossorigin="anonymous"></script>
  </body>
</html>
