{% extends "base.html" %} 
{% block operation %}

<div class="col-12">
  <div class="card">
      <div class="card-body">
          <form action="" method="POST">
              {% csrf_token%}
              <h2>Categorical Data</h2>

                  <div class="row" data-select2-id="select2-data-8-1vyy">

                      <div class="col-lg-6 mb-3" data-select2-id="columns">
                          <p class="mb-1 fw-bold text-muted">X :</p>
                          <!-- Multiple Select -->
                          <select class="js-select2 form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Choose Columns" id="value-x" name="value-x" >
                              {% for col in columns %}
                              <option value="{{col}}">
                                  {{col | safe}}
                              </option>
                              {% endfor %}
                          </select>

                              
                      </div> <!-- end col -->

                      
                  </div> <!-- end row -->

                  <button type="submit" class="btn btn-outline-primary mt-2">Apply</button>                   
          </form>
      </div> <!-- end card-body-->
  </div> <!-- end card-->
</div>

{% endblock operation %}