{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>VisualDatos</title>

    <link rel="stylesheet" href="{% static 'css/index.css' %}" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {% load static %}

    <div class="text-center my-3">
      <h3>VisualDatos</h3>
    </div>

    <!-- starting animation -->
    <div class="intro">
      <h1 class="logo-header">
        <span class="logo">Visual</span><span class="logo">Datos.</span><br />
      </h1>
    </div>

    <div class="card text-center" style="width: 40rem; margin: auto">
      <div class="card-body">
        <h5 class="card-title">Select Dataset</h5>
        <p class="card-text">Currently only .csv files are supported</p>
      </div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input
          class="btn btn-priamry"
          type="file"
          accept=".csv"
          name="myfile"
        />
        <button class="btn btn-primary" type="submit">Upload Dataset</button>
      </form>

      {% if uploaded_file_url %}
      <script>
        window.alert("File Uploaded Successfully");
      </script>
      {% endif %}
    </div>
    {% load static %}
    <script src="{% static 'js/index.js' %}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
