{% extends "base.html" %} 

{% block operation %}
{% load static %}

<section id="algo-form">
<div class="row container-form">
  <form action="" method="POST">
      {% csrf_token%}
      <h2>K- Nearest Neighbours</h2>
      <div class="row-form">
        <div class="col-md-3">
          <div class="form-group">
            <label class="form-label" for="no_of_neighbors">No. of Neighbours</label>
            <input type="number" class="form-control" placeholder="Enter Number of Neighbours" id="no_of_neighbor" name="no_of_neighbors">
          </div>
        </div>
        <!--  col-md-6   -->


        <div class="col-md-6">
          <div class="form-group">
            <label class="form-label" for="value-x">X :</label>

            <!-- <input type="text" class="form-control" placeholder="" id="first"> -->
            <select class="js-select2 nav-link" id="value-x" name="value-x" multiple>
                {% for col in columns %}
                <option class="dropdown-item"value="{{col}}">
                  {{col | safe}}
                </option>
                {% endfor %}
              </select>
          </div>
        </div>
        <!--  col-md-6   -->
  
        <div class="col-md-6">
            <div class="form-group">
              <label class="form-label" for="value-y">Y :</label>
  
              <!-- <input type="text" class="form-control" placeholder="" id="first"> -->
              <select class="nav-link dropdown-toggle" data-toggle="dropdown" id="value-y" name="value-y" size="1" style="color: black;">
                  <div class="dropdown-menu">
                  {% for col in columns %}
                  <option class="dropdown-item" value="{{col}}">{{col | safe}}</option>
                  {% endfor %}
                  </div>
                </select>
            </div>
          </div>
        <!--  col-md-6   -->

      </div>
  
  
      <div class="row-form">
        <div class="col-md-3">
          <div class="form-group">
            <label class="form-label" for="test_size">Test Size</label>
            <input type="number" class="form-control" placeholder="" id="test_size" name="test_size">
          </div>
  
  
        </div>
        <!--  col-md-6   -->
      </div>
      <!--  row   -->
        <div class="nav-item active">
      <button type="submit" class="nav-link">Apply</button>
        </div>

    </form>
  </div>

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script>
  $(".js-select2").select2({
    closeOnSelect : false,
    placeholder : " Select Features",
    // allowHtml: true,
    allowClear: true,
    tags: true 
  });
</script>




























{%endblock%}