{% extends "base.html" %} 
{% block operation %}
{% include 'ml_error_msg.html' %}

<div class="col-12">
  <div class="card">
      <div class="card-body">
          <form action="" method="POST">
              {% csrf_token%}
              <h2>Linear Regression</h2>
                  <div class="row" data-select2-id="select2-data-8-1vyy">

                      <div class="col-lg-6 mb-3" data-select2-id="columns">
                          <p class="mb-1 fw-bold text-muted">X :</p>
                          <!-- Multiple Select -->
                          <select class="js-select2 form-control select2-multiple" data-toggle="select2" data-placeholder="Choose Columns"  id="my-select" name="value-x" required>
                              {% for col in columns %}
                              <option value="{{col}}">
                                  {{col | safe}}
                              </option>
                              {% endfor %}
                          </select>

                              
                      </div> <!-- end col -->

                      
                  </div> <!-- end row -->
                  <div class="row" data-select2-id="select2-data-8-1vyy">
                    <div class="col-lg-6 mb-3" data-select2-id="select2-data-73-kdnc">
                        <p class="mb-1 fw-bold text-muted">Y :</p>
                        <select class="form-control select2 select2-hidden-accessible" data-toggle="select2" data-select2-id="select2-data-1-6xhr" tabindex="-1" aria-hidden="true" name="value-y" id="my-select2" required>
                            {% for col in columns %}
                              <option value="{{col}}">
                                  {{col | safe}}
                              </option>
                              {% endfor %}
                        </select>
                    </div>

                      
                  </div> <!-- end row -->

                  <div class="row" data-select2-id="select2-data-8-1vyy">
                    <div class="col-lg-6 mb-3">
                        <div>
                            <label for="test_size" class="form-label">Enter Test Size</label>
                            <input class="form-control" id="test_size" type="number" name="test_size" min="1" max="99" required>
                        </div>
                    </div>

                      
                  </div> <!-- end row -->
                  <button type="submit" class="btn btn-outline-primary mt-2">Apply</button>                   
          </form>
      </div> <!-- end card-body-->
  </div> <!-- end card-->
</div>

{% endblock operation %}