{% extends "base.html" %} 

{% block operation %}

<nav class="navbar navbar-expand-md navbar-light func">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ">
            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'preprocessing'%}" role="button" aria-haspopup="true" aria-expanded="false">Preprocessing</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'preprocessing'%}">Removing NULL Values</a>
                    <a class="dropdown-item " href="{% url 'preprocessing'%}">Filling NULL Values</a>
                    <a class="dropdown-item" href="{% url 'preprocessing'%}">Scaling (Standard , MinMax)</a>
                    <a class="dropdown-item" href="{% url 'preprocessing'%}">Delete Columns</a>
                    <a class="dropdown-item" href="{% url 'preprocessing'%}">Outlier Detection and Removal</a>
                </div>
            </li>
    
        </ul>
    </div>
    
</nav>	
<!-- 
<div class="row my-3 func">
    <div class="col1" style="background-color: burlywood;">
        <a href="{% url 'preprocessing'%}" class="btn btn-info" role="button">Preprocessing</a>
        <div>
            <ol>
                <li>Filling NULL Values</li>
                <li>Scaling (Standard , MinMax)</li>
                <li>Delete Columns</li>
                <li>Outlier Detection and Removal</li>
            </ol>
        </div>
    </div>
    <div class="col" style="background-color: rgb(173, 24, 231);">
        <button class="btn btn-primary">ML Operations</button>
        <div>
            <ol>
                <li>Linear Regression</li>
                <li>Logistic Regression</li>
                <li>KNN</li>
                <li>SVM</li>
            </ol>
        </div>
    </div>
    
    <div class="col" style="background-color: darkred;">
        <button class="btn btn-primary">Visualization</button>
        <div>
            <ol>
                <li>Histogram</li>
                <li>Boxplot</li>
                <li>PieChart</li>
            </ol>
        </div>
    </div>
</div> -->

{% endblock %}