{% extends "base.html" %} 
{% block operation %}
<div class="container">
    <div class="row">
        <div class="col-xl-12">  
            <div class="card">
                <div class="card-body">
                            <div class="d-flex flex-wrap gap-2">
                                <button onclick="location.href='{% url 'linear_reg' %}'" type="button" class="btn btn-outline-primary">Linear Regression</button>
                                <button onclick="location.href='{% url 'logistic_reg' %}'" type="button" class="btn btn-outline-primary">Logistic Regression</button>
                                <button onclick="location.href='{% url 'knn' %}'" type="button" class="btn btn-outline-primary">KNN</button>
                                <button onclick="location.href='{% url 'kmeans' %}'" type="button" class="btn btn-outline-primary">K-Means</button>
                                
                            </div>

                </div> <!-- end card-body -->
            </div> <!-- end card-->
        </div>
    </div>
</div>
{% endblock operation %}