
<div class="modal fade hide" id="scrollable-modal" tabindex="-1" role="dialog"
                            aria-labelledby="scrollableModalTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="scrollableModalTitle">
                                            Correlation Matrix
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-hidden="true"></button>
                                    </div>
                                    <div class="modal-body" data-simplebar style="height:550px;">
                                        {% if image_url_correlation_matrix is not None%}
                                        <img src = {{ image_url_correlation_matrix }} style="padding-right: 16px;"alt="No numerical columns so no correlational matrix can be formed "/>
                                        {% endif%}
                                    </div>
                                    <div class="modal-footer"></div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>