

{% extends "base.html" %} 

{% block operation %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" />

<nav class="navbar navbar-expand-md navbar-light func">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ">
            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'preprocessing'%}" role="button" aria-haspopup="true" aria-expanded="false">Removing NULL Values</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'dropnull_preprocessing'%}">Removing NULL Values</a>
                </div>
            </li>
            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'preprocessing'%}" role="button" aria-haspopup="true" aria-expanded="false">Filling NULL Values</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'fillingNullMean'%}">Mean</a>
                    <a class="dropdown-item " href="{% url 'fillingNullMedian'%}">Median</a>
                    <a class="dropdown-item" href="{% url 'fillingNullMode'%}">Mode</a>
                    <a class="dropdown-item" href="{% url 'fillingNullModeNumeric'%}">Mode only Numeric Values</a>
                </div>
            </li>
            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'preprocessing'%}" role="button" aria-haspopup="true" aria-expanded="false">Scaling</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'minmaxScaler'%}">Standard Scaling</a>
                    <a class="dropdown-item " href="{% url 'minmaxScaler'%}">MinMax Scaling</a>
                </div>
            </li>
            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'preprocessing'%}" role="button" aria-haspopup="true" aria-expanded="false">Delete Columns</a>
                <div class="dropdown-menu">
                    {% for col in columns %}
                <a onclick="location.href='{% url 'deleteColumn' %}?name={{col}}'" type="button" class="dropdown-item">
                    {{col | safe}}
                  </a>
              
                {% endfor %}
                </div>
            </li>
    
        </ul>
    </div>
    
</nav>























<!-- <div class="row my-3">
    <div class="col" style="background-color: burlywood;">
      
        <div>
            <ol>
                <li><a href="{% url 'dropnull_preprocessing'%}" class="btn btn-info" role="button">Removing Null Values</a></li>
                
            </ol>
        </div>
    </div>
    <div class="col" style="background-color: burlywood;">
      
        <div>
            <ol>
              
                <li><a href="" class="btn btn-info" role="button">Filling Null Values</a></li>
                <li><a href="{% url 'fillingNullMean'%}" class="btn btn-info" role="button">Mean</a></li>
                <li><a href="{% url 'fillingNullMedian'%}" class="btn btn-info" role="button">Median</a></li>
                <li><a href="{% url 'fillingNullMode'%}" class="btn btn-info" role="button">Mode</a></li>
               

             
            </ol>
        </div>
    </div>
    <div class="col" style="background-color: burlywood;">
  
        <div>
            <ol>
               
                <li><a href="{% url 'minmaxScaler'%}" class="btn btn-info" role="button">MinMax Scaling</a></li>
                <li><a href="{% url 'standardScaler'%}" class="btn btn-info" role="button">StandardScaling</a></li>
       
               
            </ol>
        </div>
    </div>

    <div class="col" style="background-color: burlywood;">
   
        <div>
            <ol>
                <li><a href="" class="btn btn-info" role="button">Delete columns</a></li>
                {% for col in columns %}
                <li><button  onclick="location.href='{% url 'deleteColumn' %}?name={{col}}'" type="button" class="btn btn-primary">
                    {{col | safe}}
                  </button>
                </li>
              
                {% endfor %}
                
            </ol>
        </div>
    </div>




   
</div> -->

{%endblock%}