{% extends "base.html" %} {% block operation %}
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-wrap gap-2">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                            data-bs-target="#scrollable-modal">
                            Correlation Matrix
                        </button>
                        <div class="modal fade" id="scrollable-modal" tabindex="-1" role="dialog"
                            aria-labelledby="scrollableModalTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="scrollableModalTitle">
                                            Correlation Matrix
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-hidden="true"></button>
                                    </div>
                                    <div class="modal-body" data-simplebar style="height:550px;">
                                        <img src = {{ image_url }} style="padding-right: 16px;"/>
                                    </div>
                                    <div class="modal-footer"></div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->

                        <button onclick="location.href='{% url 'pie_chart' %}'" type="button"
                            class="btn btn-outline-primary">
                            Pie Chart
                        </button>
                        <button onclick="location.href='{% url 'histogram' %}'" type="button"
                            class="btn btn-outline-primary">
                            Histogram
                        </button>
                        <button onclick="location.href='{% url 'box_plot' %}'" type="button"
                            class="btn btn-outline-primary">
                            Box Plot
                        </button>
                        <button onclick="location.href='{% url 'line_plot' %}'" type="button"
                            class="btn btn-outline-primary">
                            Line Plot
                        </button>
                        <button onclick="location.href='{% url 'elbow_plot' %}'" type="button"
                            class="btn btn-outline-primary">
                            Elbow Plot
                        </button>
                    </div>
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card-->
        </div>
    </div>
</div>
{% endblock operation %}