{% extends "base.html" %}
{% block main-content %}
<div class="content">

    <!-- Start Content-->
    <div class="container-fluid mt-3">

        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="d-flex card-header justify-content-between align-items-center">
                        <h4 class="header-title mt-1">Visualisation Plot</h4>
                    </div>
                    <div class="card-body pt-0">
                        <div data-simplebar style="height: 450px;">
        <img src= {{ image_url }} alt="" height="450px">
    </div> 
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->

            <div class="col-lg-4">
                <div class="card">
                    <div class="d-flex card-header justify-content-between align-items-center">
                        <h4 class="header-title mt-1">Code</h4>
                    </div>
                    <div class="card-body pt-0">
                        <div class="tab-content">
                            <div class="tab-pane code active show" id="input-types-code" role="tabpanel">
                                <!-- <button class="btn-copy-clipboard" data-clipboard-action="copy">
                                    Copy
                                </button> -->
                                <pre class="mb-0" style="height: 415px; border-bottom: 1px solid var(--ct-gray-300);">
<code class="html escape language-python">
{{file_content | safe}}
</code>
                                    </pre>

                                <!-- end highlight-->
                                <button class="btn-copy-clipboard" data-clipboard-action="copy" style="position:relative; top:0; right:0; margin:10px; ">
                                    Copy
                                </button>
                            </div>
                            <!-- end preview code-->
                    </div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->
        </div>

    </div> <!-- content -->
    {% endblock main-content %}